In [59]:
import pandas as pd
import numpy as np

In [60]:
df = pd.read_excel('entrop.xlsx')
df[df['state'] == 'DC']

   id            city state  fraud
0   1       ELIZABETH    NJ      0
1   2      WALLINGTON    NJ      0
2   3         PASSAIC    NJ      0
3   4        BROOKLYN    NY      0
4   5  CLIFFSIDE PARK    NJ      1

In [109]:
# prior distribution of fraud
prior_distribution_fraud = df['fraud'].value_counts(normalize=True)[1]
prior_distribution_fraud

0.4934270865178844

In [110]:
a = df.groupby('state')['fraud'].value_counts(normalize=True)

In [111]:
b = pd.DataFrame(a)
b.head()

                fraud
state fraud
AL    0      0.504673
      1      0.495327
AR    0      0.500000
      1      0.500000
AZ    0      0.647059

In [112]:
b.columns = [''] * len(b.columns)
b.reset_index(inplace = True)

In [113]:
b.columns = ['state','fraud','percent']
distribution_feature_T = b[b['fraud'] == 1]

In [114]:
distribution_feature_T.head(2)

  state  fraud   percent
1    AL      1  0.495327
3    AR      1  0.500000

In [115]:
# lift
distribution_feature_T ['prior_distribution_fraud'] = prior_distribution_fraud

C:\Users\jzhou\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [116]:
distribution_feature_T['lift'] = distribution_feature_T.percent / distribution_feature_T.prior_distribution_fraud

C:\Users\jzhou\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [125]:
distribution_feature_T['lift'].sort_values(ascending=False).head(5)

72    2.026642
8     1.737122
82    1.447601
48    1.351095
73    1.351095
Name: lift, dtype: float64