In [1]:
import pandas as pd
from datetime import date

In [2]:
Today = '2019-12-20'
path = 'C:/Users/jzhou/AAA/'

In [3]:
df_1 = pd.read_excel(path + 'logic.xlsx',sheet_name = 'data')

In [4]:
df_2 = pd.read_excel(path + 'logic2.xlsx',sheet_name = 'data')

In [5]:
df_3 = pd.read_excel('C:/Users/jzhou/AAA/logic3.xlsx',sheet_name = 'data')

In [6]:
df_4 = pd.read_excel(path + 'up.xlsx')

df['today']  = str(date.today())
df['today'] = pd.to_datetime(df['today'])

In [7]:
df_1 = df_1.sort_values('dates', ascending=False).reset_index()
df_2 = df_2.sort_values('dates', ascending=False).reset_index()
df_3 = df_3.sort_values('dates', ascending=False).reset_index()
df_4 = df_4.sort_values('dates', ascending=False).reset_index()
df_4.head(10)

   index      dates  price
0     49 2019-12-19   1.50
1     48 2019-12-18   1.50
2     47 2019-12-17   1.59
3     46 2019-12-16   1.70
4     45 2019-12-13   1.62
5     44 2019-12-12   1.71
6     43 2019-12-11   1.78
7     42 2019-12-10   1.29
8     41 2019-12-09   1.27
9     40 2019-12-06   1.31

In [8]:
df_1_d = df_1.diff()
df_2_d = df_2.diff()
df_3_d = df_3.diff()
df_4_d = df_4.diff()

df_1_d = df_1_d.rename(columns={"index": "index_dif", "dates": "date_dif", 'price' : 'price_dif','which_date' : 'which_date_dif'})
df_2_d = df_2_d.rename(columns={"index": "index_dif", "dates": "date_dif", 'price' : 'price_dif','which_date' : 'which_date_dif'})
df_3_d = df_3_d.rename(columns={"index": "index_dif", "dates": "date_dif", 'price' : 'price_dif','which_date' : 'which_date_dif'})
df_4_d = df_4_d.rename(columns={"index": "index_dif", "dates": "date_dif", 'price' : 'price_dif','which_date' : 'which_date_dif'})
df_4_d.head()

   index_dif date_dif  price_dif
0        NaN      NaT        NaN
1       -1.0  -1 days       0.00
2       -1.0  -1 days       0.09
3       -1.0  -1 days       0.11
4       -1.0  -3 days      -0.08

In [9]:
df_1_dd = df_1.diff(periods=2)
df_2_dd = df_2.diff(periods=2)
df_3_dd = df_3.diff(periods=2)
df_4_dd = df_4.diff(periods=2)

df_1_dd = df_1_dd.rename(columns={"index": "index_dif2", "dates": "date_dif2", 'price' : 'price_dif2','which_date' : 'which_date_dif2'})
df_2_dd = df_2_dd.rename(columns={"index": "index_dif2", "dates": "date_dif2", 'price' : 'price_dif2','which_date' : 'which_date_dif2'})
df_3_dd = df_3_dd.rename(columns={"index": "index_dif2", "dates": "date_dif2", 'price' : 'price_dif2','which_date' : 'which_date_dif2'})
df_4_dd = df_4_dd.rename(columns={"index": "index_dif2", "dates": "date_dif2", 'price' : 'price_dif2','which_date' : 'which_date_dif2'})
df_4_dd.head()

   index_dif2 date_dif2  price_dif2
0         NaN       NaT         NaN
1         NaN       NaT         NaN
2        -2.0   -2 days        0.09
3        -2.0   -2 days        0.20
4        -2.0   -4 days        0.03

In [10]:
d1 = df_1.join(df_1_d, how='outer')
d2 = df_2.join(df_2_d, how='outer')
d3 = df_3.join(df_3_d, how='outer')
d4 = df_4.join(df_4_d, how='outer')

d1['price_ratio'] = (d1['price_dif'] / d1['price']).abs()
d2['price_ratio'] = (d2['price_dif'] / d2['price']).abs()
d3['price_ratio'] = (d3['price_dif'] / d3['price']).abs()
d4['price_ratio'] = (d4['price_dif'] / d4['price']).abs()

In [11]:
d1 = d1.join(df_1_dd, how='outer')
d2 = d2.join(df_2_dd, how='outer')
d3 = d3.join(df_3_dd, how='outer')
d4 = d4.join(df_4_dd, how='outer')
d3.head(20)

,index,dates,price,index_dif,date_dif,price_dif,price_ratio,index_dif2,date_dif2,price_dif2
0,20,2019-12-19,30.000000,NaN,NaT,NaN,NaN,NaN,NaT,NaN
1,19,2019-12-18,30.200000,-1.0,-1 days,0.200000,0.006623,NaN,NaT,NaN
2,18,2019-12-17,30.400000,-1.0,-1 days,0.200000,0.006579,-2.0,-2 days,0.400000
3,17,2019-12-16,30.200000,-1.0,-1 days,-0.200000,0.006623,-2.0,-2 days,0.000000
4,16,2019-12-13,30.000000,-1.0,-3 days,-0.200000,0.006667,-2.0,-4 days,-0.400000
5,15,2019-12-12,29.940000,-1.0,-1 days,-0.060000,0.002004,-2.0,-4 days,-0.260000
6,14,2019-12-11,29.750000,-1.0,-1 days,-0.190000,0.006387,-2.0,-2 days,-0.250000
7,13,2019-12-10,29.480000,-1.0,-1 days,-0.270000,0.009159,-2.0,-2 days,-0.460000
8,12,2019-12-09,29.080000,-1.0,-1 days,-0.400000,0.013755,-2.0,-2 days,-0.670000
9,11,2019-12-06,29.370001,-1.0,-3 days,0.290001,0.009874,-2.0,-4 days,-0.109999
10,10,2019-12-05,29.410000,-1.0,-1 days,0.039999,0.001360,-2.0,-4 days,0.330000
11,9,2019-12-04,29.490000,-1.0,-1 days,0.080000,0.002713,-2.0,-2 days,0.119999
12,8,2019-12-03,29.879999,-1.0,-1 days,0.389999,0.013052,-2.0,-2 days,0.469999
13,7,2019-12-02,29.799999,-1.0,-1 days,-0.080000,0.002685,-2.0,-2 days,0.309999
14,6,2019-11-29,29.379999,-1.0,-3 days,-0.420000,0.014295,-2.0,-4 days,-0.500000
15,5,2019-11-27,27.820000,-1.0,-2 days,-1.559999,0.056075,-2.0,-5 days,-1.979999
16,4,2019-11-26,27.990000,-1.0,-1 days,0.170000,0.006074,-2.0,-3 days,-1.389999
17,3,2019-11-25,27.959999,-1.0,-1 days,-0.030001,0.001073,-2.0,-2 days,0.139999
18,2,2019-11-22,28.379999,-1.0,-3 days,0.420000,0.014799,-2.0,-4 days,0.389999
19,1,2019-11-21,26.930000,-1.0,-1 days,-1.449999,0.053843,-2.0,-4 days,-1.029999

In [13]:
def u_f_4(df): # price 1 to 5 f only need price_dif index 2:5, all of 4(them) must <0.06
    return ( 
            # 3 of 4
            ((df.loc[6:9, 'price_dif'] < 0).sum() >= 3       # total 4, need 3, look at the future row for differnce
             and (df.loc[6:9, 'price_dif2'] < 0).sum() >= 1  # make sure continues
             and (df.loc[2:5, 'price_ratio'] <= 0.06).all()   # on the top doesn't count
             and (df.loc[1:4,'price'] < df['price'][0]).all() )  
            
            or 
            ((df.loc[6:10, 'price_dif'] < 0).sum() >= 4             # 4 of 5     
             and (df.loc[6:10, 'price_dif2'] < 0).sum() >= 2  
             and (df.loc[2:5, 'price_ratio'] <= 0.06).all()  
             and (df.loc[1:4,'price'] < df['price'][0]).all() )  
            
            or 
            ((df.loc[6:11, 'price_dif'] < 0).sum() >= 5            #5 of 6
             and (df.loc[6:11, 'price_dif2'] < 0).sum() >= 3  
             and (df.loc[2:5, 'price_ratio'] <= 0.06).all()  
             and (df.loc[1:4,'price'] < df['price'][0]).all() ) 
            
            or 
            ((df.loc[6:12, 'price_dif'] < 0).sum() >= 5            #5 of 7
             and (df.loc[6:12, 'price_dif2'] < 0).sum() >= 3  
             and (df.loc[2:5, 'price_ratio'] <= 0.06).all()  
             and (df.loc[1:4,'price'] < df['price'][0]).all() ) 
            
            or
            ((df.loc[6:13, 'price_dif'] < 0).sum() >= 6
             and (df.loc[6:13, 'price_dif2'] < 0).sum() >= 4  
             and (df.loc[2:5, 'price_ratio'] <= 0.06).all()  
             and (df.loc[1:4,'price'] < df['price'][0]).all() )  
            
            or ((df.loc[6:14, 'price_dif'] < 0).sum() >= 7           
             and (df.loc[6:14, 'price_dif2'] < 0).sum() >= 4  
             and (df.loc[2:5, 'price_ratio'] <= 0.06).all()  
             and (df.loc[1:4,'price'] < df['price'][0]).all() ) 
            
            or ((df.loc[6:15, 'price_dif'] < 0).sum() >= 7         
             and (df.loc[6:15, 'price_dif2'] < 0).sum() >= 4  
             and (df.loc[2:5, 'price_ratio'] <= 0.06).all()  
             and (df.loc[1:4,'price'] < df['price'][0]).all() ) 
            )

In [14]:
def check_4_of_5(df): # balance up and flat
    return ( 
            # 3 of 4
            ((df.loc[6:9, 'price_dif'] < 0).sum() >= 3            # look at the future row for differnce
             and (df.loc[1:4, 'price_ratio'] <= 0.06).sum() >= 4  # null on the top doesn't count as less than 1
             and (df.loc[5:8, 'price_dif2'] < 0).sum() >= 1 )     # make sure continues
            
            or 
            ((df.loc[6:10, 'price_dif'] < 0).sum() >= 4             # 4 of 5     
             and (df.loc[1:5, 'price_ratio'] <= 0.06).sum() >= 4 
             and (df.loc[6:9, 'price_dif2'] < 0).sum() >= 2 ) 
            
            or 
            ((df.loc[6:11, 'price_dif'] < 0).sum() >= 5            #5 of 6
             and (df.loc[1:6, 'price_ratio'] <= 0.06).sum() >= 4
             and (df.loc[7:10, 'price_dif2'] < 0).sum() >= 3 )  
            
            or 
            ((df.loc[6:12, 'price_dif'] < 0).sum() >= 5            #5 of 7
             and (df.loc[1:7, 'price_ratio'] <= 0.06).sum() >= 4
             and (df.loc[8:11, 'price_dif2'] < 0).sum() >= 3 )  
            
            or
            ((df.loc[6:13, 'price_dif'] < 0).sum() >= 6
             and (df.loc[1:4, 'price_ratio'] <= 0.06).sum() >= 4
             and (df.loc[5:9, 'price_dif2'] < 0).sum() >= 3 )  
            
            or ((df.loc[6:14, 'price_dif'] < 0).sum() >= 7           
             and (df.loc[1:5, 'price_ratio'] <= 0.06).sum() >= 4
             and (df.loc[6:10, 'price_dif2'] < 0).sum() >= 4 )
            
            or ((df.loc[6:15, 'price_dif'] < 0).sum() >= 7         
             and (df.loc[1:6, 'price_ratio'] <= 0.06).sum() >= 4
             and (df.loc[7:11, 'price_dif2'] < 0).sum() >= 4 )
            )

In [15]:
def check_5_of_6(df): # balance up and flat
    return ( 
            # 3 of 4
            ((df.loc[7:10, 'price_dif'] < 0).sum() >= 3            # look at the future row for differnce
             and (df.loc[1:4, 'price_ratio'] <= 0.06).sum() >= 5  # null on the top doesn't count as less than 1
             and (df.loc[5:8, 'price_dif2'] < 0).sum() >= 1 )     # make sure continues
            
            or 
            ((df.loc[7:11, 'price_dif'] < 0).sum() >= 4             # 4 of 5     
             and (df.loc[1:5, 'price_ratio'] <= 0.06).sum() >= 5 
             and (df.loc[6:9, 'price_dif2'] < 0).sum() >= 2 ) 
            
            or 
            ((df.loc[7:12, 'price_dif'] < 0).sum() >= 5            #5 of 6
             and (df.loc[1:6, 'price_ratio'] <= 0.06).sum() >= 5
             and (df.loc[7:10, 'price_dif2'] < 0).sum() >= 3 )  
            
            or 
            ((df.loc[7:13, 'price_dif'] < 0).sum() >= 5            #5 of 7
             and (df.loc[1:7, 'price_ratio'] <= 0.06).sum() >= 5
             and (df.loc[8:11, 'price_dif2'] < 0).sum() >= 3 )  
            
            or
            ((df.loc[7:14, 'price_dif'] < 0).sum() >= 6
             and (df.loc[1:4, 'price_ratio'] <= 0.06).sum() >= 5
             and (df.loc[5:9, 'price_dif2'] < 0).sum() >= 3 )  
            
            or ((df.loc[7:15, 'price_dif'] < 0).sum() >= 7           
             and (df.loc[1:5, 'price_ratio'] <= 0.06).sum() >= 5
             and (df.loc[6:10, 'price_dif2'] < 0).sum() >= 4 )
            
            or ((df.loc[7:16, 'price_dif'] < 0).sum() >= 7         
             and (df.loc[1:6, 'price_ratio'] <= 0.06).sum() >= 5
             and (df.loc[7:11, 'price_dif2'] < 0).sum() >= 4 )
            )

In [16]:
def check_6_of_8(df): # balance up and flat
    return ( 
            # 3 of 4
            ((df.loc[9:12, 'price_dif'] < 0).sum() >= 3            # look at the future row for differnce
             and (df.loc[1:4, 'price_ratio'] <= 0.06).sum() >= 6  # null on the top doesn't count as less than 1
             and (df.loc[5:8, 'price_dif2'] < 0).sum() >= 1 )     # make sure continues
            
            or 
            ((df.loc[9:13, 'price_dif'] < 0).sum() >= 4             # 4 of 5     
             and (df.loc[1:5, 'price_ratio'] <= 0.06).sum() >= 6 
             and (df.loc[6:9, 'price_dif2'] < 0).sum() >= 2 ) 
            
            or 
            ((df.loc[9:14, 'price_dif'] < 0).sum() >= 5            #5 of 6
             and (df.loc[1:6, 'price_ratio'] <= 0.06).sum() >= 6
             and (df.loc[7:10, 'price_dif2'] < 0).sum() >= 3 )  
            
            or 
            ((df.loc[9:15, 'price_dif'] < 0).sum() >= 5            #5 of 7
             and (df.loc[1:7, 'price_ratio'] <= 0.06).sum() >= 6
             and (df.loc[8:11, 'price_dif2'] < 0).sum() >= 3 )  
            
            or
            ((df.loc[9:16, 'price_dif'] < 0).sum() >= 6
             and (df.loc[1:4, 'price_ratio'] <= 0.06).sum() >= 6
             and (df.loc[5:9, 'price_dif2'] < 0).sum() >= 3 )  
            
            or ((df.loc[9:17, 'price_dif'] < 0).sum() >= 7           
             and (df.loc[1:5, 'price_ratio'] <= 0.06).sum() >= 6
             and (df.loc[6:10, 'price_dif2'] < 0).sum() >= 4 )
            
            or ((df.loc[9:18, 'price_dif'] < 0).sum() >= 7         
             and (df.loc[1:6, 'price_ratio'] <= 0.06).sum() >= 6
             and (df.loc[7:11, 'price_dif2'] < 0).sum() >= 4 )
            )

In [17]:
my_dataframes = {'d1': d1, 'd2': d2,'d3': d3, 'd4': d4}

CHECK_FUNCTIONS = (u_f_4,check_4_of_5,check_5_of_6,check_6_of_8)

def check(df):
    return any(check_f(df) for check_f in CHECK_FUNCTIONS)

NameError: name 'check_333' is not defined

In [48]:
good_dataframes = []
good_dataframes = [df_name for df_name, df in my_dataframes.items() if check(df)]
good_dataframes

['d3']